################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/QICTest/v16
/QICTest/bin/Debug
/QICTest/obj/Debug
*.user
/QICTest.Test/bin/Debug
/QICTest.Test/obj/Debug
